.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  box-sizing: border-box;
  width: 100vw;
}

.pod-container {
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  box-sizing: border-box;
}

.image-container {
  /* grid-column: 1 / 2;
  grid-row: span 3; */

  /* /* margin-left: 100px;
  margin-right: auto;*/
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  padding-right: 150px;
}

.image {
  width: 100%;
  object-fit: contain;
  justify-self: center;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 0px;
  height: auto;
}

.title {
  margin-top: 0px;
  text-decoration: underline;
}

/* .description {

} */

.updated-date {
  font-weight: bold;
}

.play-btn {
  width: 50px;
}

/* .show {
  /* grid-column: 1 / 2;
  grid-row: 2 / 3; */
/* display: grid;
  grid-template-columns: 1fr 2fr; */

/* grid-gap: 40px;
  width: 100vw;
  height: auto;*/
/* }

.seasons {
  display: flex;
  flex-direction: column;
  gap: 20px; */

/* grid-column: 1 / 2; */
/* border-left: 1px solid black; */
/* }

.episodes {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* grid-column: 2 / 3; */
/* border-left: 1px solid black; */
/* } */
