.pod-container {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: start;

  padding-left: 50px;
  padding-right: 100px;
}

.image {
  width: 100%;
  object-fit: cover;

  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 15px;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 100px;
  border-left: 2px solid rgb(22, 22, 72);
}

.title {
  margin-top: 0px;
  text-decoration: underline;
  padding-left: 70px;
  color: rgb(22, 22, 72);
}

.description {
  line-height: 1.5;
  padding-left: 70px;
  color: rgb(22, 22, 72);
}

.updated-date {
  font-weight: bold;
  padding-left: 70px;
  color: rgb(22, 22, 72);
}

.show {
  margin-left: 50px;
}

.season-btn {
  height: 30px;
  border: 1px solid #2f3c7e;
  background-color: #2f3c7e;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.play-btn {
  height: 30px;
  border: 1px solid #2f3c7e;
  background-color: #2f3c7e;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.fav-btn {
  height: 30px;
  border: 1px solid #2f3c7e;
  background-color: #2f3c7e;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.show > h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pod-loading,
.pod-error {
  margin: 50px;
  text-align: center;
  color: rgb(22, 22, 72);
}
