.footer-container {
  width: 100vw;
  height: 20vh;
  margin-top: auto;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #2f3c7e;
}

.footer-info {
  height: 90px;
  width: 150px;
  margin: auto auto;
}

.footer-text {
  text-align: center;
  margin-top: 35px;
  font-size: larger;
  color: #ffffff;
}
