* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 170px;
  width: 100vw;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: #2f3c7e;
}

.logo-container {
  /* border: 1px solid black; */

  margin-left: 50px;
}

.logo {
  width: 100px;
  height: 90px;
  object-fit: contain;
}

.website-name {
  color: #ffffff;
}

h3 {
}

.page-links {
  display: flex;
  gap: 50px;
  margin-right: 90px;
}

.home-heading {
  color: #ffffff;
  display: inline;
  justify-content: space-around;
}

.favourite-heading {
  color: #ffffff;
  display: inline;
  justify-content: space-around;
}
